body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(132, 156, 201);
  direction: rtl;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* header{
  background-color: black;
  padding: 1rem;
}
header a{
  color: aqua;
  font-weight: bold;
  text-decoration: none;
} */
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  border: 1px solid red;
  margin: 1rem;
  padding: 1%;
}

.product>img {
  width: 20%;
  max-width: 25%;
}

.img-large {
  width: 80%;
}

.product-info {
  padding: 1rem;
  color: blue;
  font-weight: bold;

}

main {
  /* padding: 1rem; */
  flex: 1;
}

.site-container {
  min-height: 100vh;
}

.rating span {
  color: #ffc000;
}

.img-thumbnail {
  height: 150px;
}

.small-container {
  max-width: 600px;
}

.checkout-steps>div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}

.checkout-steps>div.active {
  border-bottom: 0.2rem solid #f08000;
  color: #f08000;
}

/* sidebar */

.navbar-brand {
  font-weight: bold;
}
.side-navbar {
  width: 240px;
  height: 100%;
  position: absolute;
  left: -300px;
  background-color: #100901;
  transition: 0.5s;
}
.site-container {
  transition: 0.4s;
}
.active-cont {
  margin-left: 240px;
}
.active-nav {
  left: 0;
}
#button-search{
  border: solid 1px #0147ae;
  box-shadow: none;
  border-radius: 0px 3px 3px 0px;
}
#q{
  border-radius: 3px 0px 0px 3px;
  box-shadow: none;
}

.products-row{
  margin-top:-320px;
}

button.thumbnail {
  padding: 0;
   }

#deleteImage{
  border-radius: 3px 3px 0px 0px;
  color:rgb(249, 109, 109);
   }
