body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(132, 156, 201);
  direction: rtl;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* header{
  background-color: black;
  padding: 1rem;
}
header a{
  color: aqua;
  font-weight: bold;
  text-decoration: none;
} */
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  border: 1px solid red;
  margin: 1rem;
  padding: 1%;
}

.product>img {
  width: 20%;
  max-width: 25%;
}

.img-large {
  width: 100%;
}

.product-info {
  padding: 1rem;
  color: blue;
  font-weight: bold;

}

main {
  /* padding: 1rem; */
  flex: 1;
}

.site-container {
  min-height: 100vh;
}

.rating span {
  color: #ffc000;
}

.img-thumbnail {
  height: 150px;
}